<tr>
  <td class="col-3"><%=filename %></td>
  <td class="col-3"><%=user %></td>
  <td class="col-3"><%=time %></td>
  <td>
    <a
      href="/admin/approve/<%=id %> "
      class="button4"
      style="background-color: #5bb318"
      >✓</a
    >
    <a
      href="/admin/deny/<%=id %> "
      class="button4"
      style="background-color: #e64848"
      >X</a
    >
  </td>
</tr>
